/*Fuentes*/
@font-face {
    font-family: 'More sugar';
    src: url('../fonts/more_sugar_font/MoreSugar-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #a2988b;
    color: #fff3ec;
    text-align: start;
    font-size: 16px;
    line-height: 1.2;
}

h1,
h2 {
    font-family: 'Montserrat', cursive;
    color: #fdfff0;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 2rem;

}

p,
a {
    font-size: 14px;
    text-decoration: none;
    color: #fff3ec;
}

ul {
    list-style: none;
}

/* body {
    font-family: 'More sugar';
    background-color: #a2988b;
} */

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*AMPI*/
/* General Styles */
.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    background-color: #f5efe4;
    color: #4d4d4d;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

.text-container {
    margin: 5%;
    width: 90%;
    /* text-align: center; */
}

/* .text-container h2 {
    font-size: 2rem;
    color: #406c7d;
    margin-bottom: 1rem;
} */

.text-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.text-container h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.buttons a {
    background-color: #bfcc4d;
    color: #406c7d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.buttons a:hover {
    background-color: #aab739;
}


/* Contact Section */
.contact-section,
#nosotros,
#padrinazgo {
    display: flex;
    align-items: center;
    /* Centra verticalmente ambos bloques */
    justify-content: center;
    /* Centra horizontalmente ambos bloques */
    gap: 5%;
    /* Espacio entre los bloques */
    padding: 10%;
    /* Espaciado alrededor de la sección */
}

.form {
    width: 100%;
    /* Ajusta el ancho de cada bloque */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente el contenido */
    text-align: center;
    /* Centra el texto */

}

.form-container,
.info-container {
    width: 45%;
    /* Ajusta el ancho de cada bloque */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; */
    /* Centra horizontalmente el contenido */
    /* text-align: center; */
    /* Centra el texto */
}

input,
textarea {
    width: 90%;
    /* Tamaño del campo */
    /* margin: 10px 0; */
    margin-bottom: 15px;
    /* Espaciado superior e inferior */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #ccc;
    /* Define un borde */
    border-radius: 5px;
    /* Borde redondeado */
    background-color: #fff3ec;
    /* Color de fondo */
    color: #4d4d4d;
    /* Color del texto */
    max-width: 350px;
}

/* button {
    background-color: #bfcc4d;
    color: #406c7d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
} */
.btn-form {
    background-color: #bfcc4d;
    color: #406c7d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}

/*FIN AMPI*/

/*HOME*/
.main-home {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr;
    padding: 20px 0;
}

.card-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #a2988b;
    border-radius: 10px;
    width: calc(min(800px, 100%));
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
}

.card-reverse {
    display: flex;
    justify-content: flex-start;
}

.card-home h4 {
    font-size: 2rem;
    margin: auto;
    padding: 0 20px;
}

.card-home img {
    width: 90%;
    max-width: 50vh;
    border-radius: 10px;
}

.container-card {
    position: relative;
}

.curva-contenedor {
    position: absolute;
    background-color: transparent;
    padding: 50px 20px;
    color: white;
    text-align: center;
    top: 60%;
    right: 20%;
    width: 570px;
    transform: rotate3d(13, 32, 51, 268deg) translateY(240%);

}

.curva-contenedor-izq {
    top: 140%;
    left: 15%;
    transform: rotate3d(13, 32, 51, 268deg) translateY(-240%);
}

.curva-contenedor-baja {
    top: 200%;

    transform: rotate3d(13, 32, 51, 268deg) translateY(240%);
}

.curva-decorativa {
    position: absolute;
    bottom: 0;
    /* Posiciona la curva al fondo del contenedor */
    left: 0;
    width: 100%;
    /* Asegura que ocupe el ancho completo */
    height: 100%;
    /* Ajusta la altura según sea necesario */
}


.form-login {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 0 30px;
    width: 100%;
}

.form-login div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.form-login h5 {
    /* font-family: 'More sugar'; */
    font-size: 26px;
    color: #fff3ec;
    text-align: center;
    margin: 0;
}

.mensaje-error {
    color: red;
    font-size: 14px;
    margin: 0;
}



/* FOOTER*/
.btn-dona {
    font-family: 'More sugar';
    color: #406c7d;
    padding: 5px 26px;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    margin: 10px auto;
    cursor: pointer;
    background-color: #fdfff0;
    transform: scale(1);
    transition: all 1s ease-out;
    max-width: 170px;
}
.nav ul li a.btn-dona {
    color: #406c7d; /* Azul */
}

.btn-dona:hover {
    transform: scale(1.2);
}

footer {
    background-color: #887e72;
    color: #ffffff;
    padding: 20px 0;
    position: relative;
    z-index: 10;
}

.container-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #887e72;
    color: #ffffff;
    padding: 20px 0;
    font-size: 16px;
    font-family: 'Monserat', sans-serif;
    flex-direction: column;
    gap: 15px;
}

.footer-izq {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-der {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 30px;
    justify-content: center;
    gap: 10px
}

.footer-der a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: #ffffff;

}

.footer-der a:hover {
    color: #f7efe0;
}

/*ADMIN*/
button.btn-action-admin {
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffc0ad;
    border: 0;
}

button.btn-action-admin img {
    padding: 5px;
    width: 45px;
}

.btns-action-admin {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*VANI*/
.tope {
    background-color: #a2988b;
    width: 100%;
    height: 7%;
    display: flex;
    position: absolute;
    top: 0px;
}

header {
    height: 20vh;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
    height: 50px;
}

.title-header {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.header {
    background-color: #625c54;
    /* border-bottom: 2px solid #ddd; */
    /* padding: 10px 0; */
    width: 100%;
    height: 100%;
    /* Ajustar altura con porcentaje */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url('../img/FONDO-LOGO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */



}

/* Header content */
/* .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* Logo */
.logo {
    /* margin-left: 5cm;
    width: 9%; */
    /* Logo ajustado a un porcentaje del contenedor */
    /* height: auto;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    left: 3%;
    transition: all 0.9s ease; */
    /* Transición suave para todas las propiedades */

    width: 14%;
    position: absolute;
    bottom: 50%;
    left: 3%;
    transition: all 0.9s ease;
    transform: translateY(50%);
}

/*title*/
h1 {
    text-align: center;
    font-size: 3vw;
    /* Ajuste en función del ancho de la pantalla */
    color: white;
    word-spacing: 20px;
    letter-spacing: 10px;
    margin: 0;
}

/* Navigation menu */
.nav ul {
    /* background-color: #1e1200;
    height: 50px;
    padding: 0 20px; */
    /* Ajusta la altura del menú de navegación */
    /* border-radius: 20px;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 15%;
    gap: 2%; */
    background-color: #3c2001d7;
    height: 60px;
    padding: 0 30px;
    border-radius: 20px;
    list-style: none;
    display: flex;
    /* position: absolute; */
    /* bottom: 0;
    right: 15%; */
    gap: 2%;
    justify-content: center;
}

.nav ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    position: relative;
}

.nav ul li a::after {
    content: "";
    display: block;
    width: 0%;
    margin: 0 auto;
    border-bottom: 2px solid #bfcc4d;
    transition: width 0.3s ease;
}

.nav ul li a:hover::after {
    width: 80%;
}

.nav .li-active a::after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #bfcc4d;
}

.nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #fff3ec;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

.dona {
    /* Aumenta el espacio entre letras */
    text-align: center;
    font-size: 18px;
}

/* User section */
.user-section {
    display: flex;
    align-items: center;
    gap: 10px;
    /* position: absolute;
    right: 10px;
    bottom: 5px; */
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.menu-user {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #a2988b;
    padding: 10px;
    z-index: 1;
    width: 200px;
    color: #fff3ec;
    text-align: center;
}

/* User icon */
.user-icon img {
    width: 60px;
    border-radius: 50%;
    /* position: absolute;
    bottom: 10px;
    right: 2.5cm; */
    transition: all 0.9s ease;
    /* Aseguro que la transición se mantenga también aquí */
}

.span-usuario {
    color: #000000;
    font-weight: 600;
}

/* Login button */
.login-button {
    padding: 10px 20px;
    background-color: #fdfff0;
    color: #1e1200;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    /* position: absolute;
    bottom: 10px;
    right: 4cm; */
    transition: all 0.9s ease;
    /* Aseguro que la transición se mantenga también aquí */
}

.login-button:hover {
    background-color: #bfcc4d;
}



/* FIN VANI*/
@media screen and (min-width: 480px) {
    .card-home {
        flex-direction: row;
        height: 60vh;
    }

    .card-reverse {
        flex-direction: row-reverse;
    }

    .card-home img {
        width: 50%;
    }

    footer {
        padding: 20px 5%;

    }

    .container-footer {
        flex-direction: row;
        /* justify-content: space-evenly; */
    }

    .footer-der {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    /* .header {
        flex-direction: column;
        align-items: center;
    } */

    .nav ul {
        flex-direction: column;
    }

    /* .card-home {
        grid-template-columns: 1fr;
    } */
}

@media screen and (min-width: 768px) {
    /* .main-home {
        grid-template-columns: repeat(2, 1fr);
    } */

    section.card-home-sola {
        grid-column: 1 / -1;
        padding: 20px 40px;
    }

    section.card-home-sola h4 {
        font-size: 26px;
    }

    header {
        height: 40vh;
    }
}


/* @media (max-width: 980px) {
    .logo {
        width: 9%;
        margin-left: 4%;
        margin-bottom: 10%;
        transition: all 0.9s ease;
    }
} */

@media (max-width: 1270px) {
    .logo {
        /* width: 9%; */
        /* Reduzco el tamaño del logo */
        /* margin-left: 5%; */
        transition: all 0.9s ease;
        /* Aseguro que la transición se mantenga también aquí */
        top: 0;
        bottom: 100%;
        transform: translateY(10px);
    }
}

@media (max-width: 1030px) {
    /* .login-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        transition: all 0.9s ease;
    } */

}

/* 
@media (max-width: 1030px) {
    .user-icon {
        position: absolute;
        bottom: 5px;
        right: 10px;
        transition: all 0.9s ease;
    }

} */

.login-button:hover {
    background-color: #bfcc4d;
}


/* agregado vani ultimo*/
.container-menu-responsive {
    width: 100%;
    position: relative;
    padding-left: 20px;
}

/* Estilo del menú hamburguesa */
.hamburger {
    display: none;
    /* Ocultar inicialmente */
    width: 40px;
    /* Ancho del ícono */
    height: 40px;
    /* Alto del ícono */
    cursor: pointer;
    /* position: absolute; */
    /* Permite posicionarlo donde desees */
    /* top: 80%; */
    /* Ajustar el ícono en relación al top */
    /* left: 5% */
}

.responsive-menu {
    display: none;
    /* Oculto por defecto */
    position: absolute;
    top: 40px;
    /* Ajusta según la posición de tu header o menú */
    left: 0;
    width: 100%;
    background-color: #cdc4b9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    height: fit-content;
    text-align: left;
}

.responsive-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.responsive-menu ul li {
    margin: 10px 0;
}

.responsive-menu ul li a {
    text-decoration: none;
    color: #1e1200;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.responsive-menu ul li a:hover {
    color: #bfcc4d;
}

/* Para mostrar el menú cuando se activa */
.responsive-menu.show {
    display: block;

}

/* Media query para dispositivos pequeños */
@media (max-width: 780px) {
    .nav ul {
        display: none;
        /* Ocultar el menú normal */

    }

    .hamburger {
        display: flex;
        /* Mostrar el menú hamburguesa */
    }

}

.dona-container {
    display: flex;
    height: 100vh;
    margin-right: 5%;
    margin-left: 5%;

}

/* Estilo para los dos divs */
.botones-container,
.texto-dona-container {
    padding: 8%;
    width: 45%;
    flex-direction: column;
    text-align: center;


}


.texto-dona-container {

    color: white;
    font-family: 'More sugar';
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    /* Ajusta el interlineado (espacio entre líneas) */
    letter-spacing: 2px;
    /* Ajusta el interletrado (espacio entre letras) */

}

.donation-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

.donation-button {
    width: 110%;
    height: 1.7cm;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(83, 78, 78);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    border-radius: 15px;
}

.first-donation-button::after {
    content: "";
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #FFFFFF;
}

.second-donation-button::before {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #FFFFFF;
}


.donation-button:hover {
    background-color: #bfcc4d;

}

.button-icon {
    width: 80px;

}

main {
    background-color: #a2988b;
}

.oculto {
    display: none;
}