/*Fuentes*/
@font-face {
    font-family: 'More sugar';
    src: url('../fonts/more_sugar_font/MoreSugar-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #a2988b;
    color: #fff3ec;
}

h1,
h2 {
    font-family: 'Montserrat', cursive;
    color: #fdfff0;
    text-align: center;
}

h2 {
    font-family: 'More sugar';

}

p,
a {
    font-size: 14px;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* body {
    font-family: 'More sugar';
    background-color: #a2988b;
} */

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*AMPI*/
/* General Styles */
.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    background-color: #f5efe4;
    color: #4d4d4d;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

.text-container {
    margin: 5%;
    width: 90%;
    text-align: center;
}

.text-container h2 {
    font-size: 2rem;
    color: #406c7d;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.text-container h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.buttons a {
    background-color: #bfcc4d;
    color: #406c7d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.buttons a:hover {
    background-color: #aab739;
}


/* Header */
/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(162, 152, 139, 0.8);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.site-title {
    font-size: 24px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff3ec;
    padding: 5px 10px;
}

.navbar .active {
    background-color: #bfcc4d;
    color: #406c7d;
    border-radius: 5px;
}

.navbar .donate,
.footer .donate,
.donate {
    background-color: #ffffff3f;
    color: #406c7d;
    border-radius: 5px;
    padding: 10px 20px;
}

.login {
    background-color: transparent;
    border: 1px solid #fff3ec;
    padding: 5px 10px;
    color: #fff3ec;
    border-radius: 5px;
} */

/* Contact Section */
.contact-section, #nosotros, #padrinazgo {
    display: flex;
    align-items: center;
    /* Centra verticalmente ambos bloques */
    justify-content: center;
    /* Centra horizontalmente ambos bloques */
    gap: 5%;
    /* Espacio entre los bloques */
    padding: 10%;
    /* Espaciado alrededor de la sección */
}

.form{
    width: 100%;
    /* Ajusta el ancho de cada bloque */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente el contenido */
    text-align: center;
    /* Centra el texto */

}
.form-container,
.info-container {
    width: 45%;
    /* Ajusta el ancho de cada bloque */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente el contenido */
    text-align: center;
    /* Centra el texto */
}

input,
textarea {
    width: 90%;
    /* Tamaño del campo */
    /* margin: 10px 0; */
    margin-bottom: 15px;
    /* Espaciado superior e inferior */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #ccc;
    /* Define un borde */
    border-radius: 5px;
    /* Borde redondeado */
    background-color: #fff3ec;
    /* Color de fondo */
    color: #4d4d4d;
    /* Color del texto */
    max-width: 350px;
}

/* button {
    background-color: #bfcc4d;
    color: #406c7d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
} */
.btn-form {
    background-color: #bfcc4d;
    color: #406c7d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}

/*FIN AMPI*/

/*HOME*/
.main-home {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding: 20px 0;

}

.card-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f7efe0;
    border-radius: 10px;
    position: relative;
}

.card-home h4 {
    font-family: 'More sugar';
    font-size: 20px;
    color: #1e1200;
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.card-home img {
    width: 90%;
    max-width: 300px;
    border-radius: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 30px;
    width: 100%;
}

.form-login div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.form-login h5 {
    font-family: 'More sugar';
    font-size: 26px;
    color: #fff3ec;
    text-align: center;
    margin: 0;
}

.oculto {
    display: none;
}

/* FOOTER*/
button.btn-dona {
    font-family: 'More sugar';
    color: #406c7d;
    padding: 5px 26px;
    border-radius: 30px;
    border: none;
    font-size: 26px;
    margin: 10px;
    cursor: pointer;
    background-color: #fdfff0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #887e72;
    color: #ffffff;
    padding: 20px 0;
    font-size: 16px;
    font-family: 'Monserat', sans-serif;
    flex-direction: column;
    gap: 15px;
}

.footer-izq {
    text-align: center;
}

.footer-der {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 30px;
    justify-content: center;
    gap: 10px
}

.footer-der a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: #ffffff;

}

.footer-der a:hover {
    color: #f7efe0;
}

/*ADMIN*/
button.btn-action-admin {
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffc0ad;
    border: 0;
}

button.btn-action-admin img {
    padding: 5px;
    width: 45px;
}

.btns-action-admin {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*VANI*/
.tope {
    background-color: #a2988b;
    width: 100%;
    height: 7%;
    display: flex;
    position: absolute;
    top: 0px;
}

  
.header {
    background-color: #625c54;
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    width: 100%;
    height: 5cm;
    /* Ajustar altura con porcentaje */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/FONDO-LOGO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    


}

/* Header content */
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    margin-left: 5cm;
    width: 9%;
    /* Logo ajustado a un porcentaje del contenedor */
    height: auto;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    left: 3%;
    transition: all 0.9s ease;
    /* Transición suave para todas las propiedades */

}

/*title*/
h1 {

    text-align: center;
    font-size: 3vw;
    /* Ajuste en función del ancho de la pantalla */
    color: white;
    word-spacing: 20px;
    letter-spacing: 10px;
    margin: 0;
}

/* Navigation menu */
nav ul {
    background-color: rgb(220, 216, 212);
    height: 20%;
    /* Ajusta la altura del menú de navegación */
    border-radius: 20px;
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 3%;
    right: 25%;
}

nav ul li {
    padding: 5px;
    margin: 5px;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #1e1200;
    font-weight: bold;
    padding: 5px 10px 5px 10px;

}

nav ul li a:hover {
    background-color: #bfcc4d;
    color: #1e1200;
    border-radius: 20px;
}

.dona {
    color: #406c7d;
    font-family: fantasy;
    letter-spacing: 3px;
    /* Aumenta el espacio entre letras */
    text-align: center
}

/* User section */
.user-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* User icon */
.user-icon img {
    width:60px; 
    border-radius: 50%; 
    position: absolute;
    bottom: 10px;
    right: 2.5cm;
    transition: all 0.9s ease; /* Aseguro que la transición se mantenga también aquí */
}

/* Login button */
.login-button {
    padding: 10px 20px;
    background-color: #a2988b;
    color: #1e1200;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
    right: 4cm;
    transition: all 0.9s ease;
    /* Aseguro que la transición se mantenga también aquí */
}

.login-button:hover {
    background-color: #bfcc4d;
}

.li-active {
    background-color: #bfcc4d;
    color: #1e1200;
    border-radius: 20px;
}

/* FIN VANI*/
@media screen and (min-width: 480px) {
    .card-home {
        flex-direction: row;
    }

    .card-home img {
        width: 50%;
    }

    footer {
        flex-direction: row;
        /* justify-content: space-evenly; */
        padding: 20px 5%;
    }

    .footer-der {
        padding: 0;
    }
}
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .nav ul {
        flex-direction: column;
    }

    .card-home {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) {
    .main-home {
        grid-template-columns: repeat(2, 1fr);
    }

    section.card-home-sola {
        grid-column: 1 / -1;
        padding: 20px 40px;
    }

    section.card-home-sola h4 {
        font-size: 26px;
    }
}


@media (max-width: 980px) {
    .logo {
        width: 9%;
        /* Reduzco el tamaño del logo */
        margin-left: 4%;
        margin-bottom: 10%;
        transition: all 0.9s ease;
        /* Aseguro que la transición se mantenga también aquí */
    }
}

@media (max-width: 1270px) {
    .logo {
        width: 9%;
        /* Reduzco el tamaño del logo */
        margin-left: 5%;
        transition: all 0.9s ease;
        /* Aseguro que la transición se mantenga también aquí */
    }
}

@media (max-width: 1030px) {
    .login-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
       transition: all 0.9s ease; /* Aseguro que la transición se mantenga también aquí */
    }
   
}

@media (max-width: 1030px) {
    .user-icon {
        position: absolute;
        bottom: 5px;
        right: 10px; 
       transition: all 0.9s ease; /* Aseguro que la transición se mantenga también aquí */
    }
   
}

.login-button:hover {
    background-color: #bfcc4d;
}


/* agregado vani ultimo*/

/* Estilo del menú hamburguesa */
.hamburger {
    display: none; /* Ocultar inicialmente */
    width: 40px; /* Ancho del ícono */
    height: 40px; /* Alto del ícono */
    cursor: pointer;
    position: absolute; /* Permite posicionarlo donde desees */
    top: 80%; /* Ajustar el ícono en relación al top */
    left:5%

}

.responsive-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 60px; /* Ajusta según la posición de tu header o menú */
    left: 0;
    width: 100%;
    background-color: #a2988b;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.responsive-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.responsive-menu ul li {
    margin: 10px 0;
}

.responsive-menu ul li a {
    text-decoration: none;
    color: #1e1200;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.responsive-menu ul li a:hover {
    color: #bfcc4d;
}

/* Para mostrar el menú cuando se activa */
.responsive-menu.show {
    display: block;
    
}

/* Media query para dispositivos pequeños */
@media (max-width: 780px) {
    nav ul {
    display: none; /* Ocultar el menú normal */
 
    }

    .hamburger {
        display: flex; /* Mostrar el menú hamburguesa */
    }

}

.dona-container {
    display: flex;
    height: 100vh; 
    margin-right: 5%;
    margin-left: 5%;
   
}

/* Estilo para los dos divs */
.botones-container, .texto-dona-container{
    padding: 8%;
    width: 45%;
    flex-direction: column;
    text-align: center;
 
   
}


.texto-dona-container{

    color:white;
    font-family: 'More sugar';
    font-size: 20px;
    text-align: center;
    line-height: 1.2; /* Ajusta el interlineado (espacio entre líneas) */
    letter-spacing: 2px; /* Ajusta el interletrado (espacio entre letras) */

}

.donation-buttons {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center; 
    padding: 20px;
    
}

.donation-button {
    width: 110%; 
    height: 1.7cm; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 10px 20px;
    margin: 15px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(83, 78, 78);
    background-color: #f7efe0; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donation-button:hover {
    background-color: #bfcc4d;
    
}

.button-icon {
    width: 170px; 
    
}

main{
    background-color:#a2988b;
}
